services:
  postgres:
    image: postgres:16
    restart: always
    container_name: orders_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: ./backend/Orders.Api
    depends_on:
      - postgres
    environment:
      ConnectionStrings__Default: "Host=postgres;Port=5432;Database=orders;Username=postgres;Password=postgres"
      ServiceBus__Connection: "fake"
      ServiceBus__Queue: "orders"
    ports:
      - "5000:80"

  frontend:
    build: ./frontend/app
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  postgres_data:
